
html {
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body * {
	box-sizing: border-box;
}
.container{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

.header .header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}

.header .header__logo {
	width: 95px;
}

.header .header__nav a {
	margin-right: 20px;
	font-size: 16px;
	line-height: 24px;
	color: #DBE4F1;
	text-decoration: none;
}

.header .header__nav a:last-child {
	margin-right: 0;
}

.banner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: url("./images/banner.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#152649, #4F525C);
	opacity: 0.88;
}

.banner .banner__content {
	position: relative;
	z-index: 1;
	width: 100%;
	text-align: center;
}

.banner .banner__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 26px;
	line-height: 35px;
	color: #FFFFFF;
}

.banner .banner__subtitle {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 25px;
	color: #DBE4F1;
}

.banner__tooltip {
	margin-top: 11px;
	display: block;
	font-size: 14px;
	line-height: 28px;
	color: #DBE4F1;
}

.banner__button {
	margin-top: 40px;
	margin-bottom: 40px;
}

.button {
	display: inline-block;
	padding-top: 13px;
	padding-right: 24px;
	padding-bottom: 14px;
	padding-left: 24px;
	font-weight: 600;
	font-size: 13px;
	line-height: 17px;
	color: #0F3D33;
	text-decoration: none;
	background-color: #50E3C2;
	border-radius: 3px;
}

.features {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #ffffff;
}

.feature-column {
	margin-top: 60px;
}

.feature-column:first-child {
	margin-top: 0;
}

.features .features__content {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}

.feature-column__point {
	position: relative;
	width: 50px;
	height: 50px;
	margin-right: auto;
	margin-bottom: 16px;
	margin-left: auto;
}

.feature-column .feature-column__point::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.06;
}

.feature-column.feature-column--red .feature-column__point::before {
	background-color: #FC5C65;
}

.feature-column.feature-column--green .feature-column__point::before {
	background-color: #50E3C2;
}

.feature-column.feature-column--purple .feature-column__point::before {
	background-color: #A665FB;
}

.feature-column .feature-column__point::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	border-radius: 50%;;
}

.feature-column.feature-column--red .feature-column__point::after {
	background-color:#FC5C65;
}

.feature-column.feature-column--green .feature-column__point::after {
	background-color: #50E3C2;
}

.feature-column.feature-column--purple .feature-column__point::after {
	background-color: #A665FB;
}

.feature-column__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	font-size: 22px;
	line-height: 34px;
	color: #000000;
}

.feature-column__subtitle {
	margin-top: 24px;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 34px;
	color: #323232;
}

.new{
	background-color: #F8FBFE;
	width: 100%;
	padding-top: 90px;
	padding-bottom: 90px;
}

.new.new--reverse{
	background-color: #FFFFFF;
}

.new-content__title{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 50px;
	letter-spacing: -0.3px;
	color: #000000;
}

.new-content__text{
	width: 100%;
	margin-top: 60px;
	margin-left: 15px;
	margin-right: 15px;
}

.new-content__info{
	width: 100%;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #323232;
}

.new-content__images{
	width: 100%;
	position: relative;
	height: 464px;
}

.video{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: fill;
}

.videoblock{
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
}
.videoblock .videoblock__content{
	position: relative;
	max-width: 750px;
	text-align: center;
}

.videoblock .videoblock__title{
	font-weight: bold;
	font-size: 38px;
	line-height: 50px;
	color: #FFFFFF;
	margin-bottom: 22;
}

.videoblock .videoblock__subtitle{
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
}

.videoblock__button{
	display: inline-block;
	width: 96px;
	height: 96px;
	background-color: rgba(224,248,245,0.19);
	border: none;
	border-radius: 50%;
	background-image: url(./images/path.svg);
	background-position: center;
	background-size: 15px 20px;
	background-repeat: no-repeat;
}

.price, .stat, .act, .upload{
	position: absolute;
}

.price{
	width: 200.59px;
	height: 263.53px;
	top: -28px;
	left: 17px;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.103346);
	border-radius: 5px;
}

.stat{
	width: 200px;
	height: 253.78px;
	top: 60px;
	left: 105px;
	box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
	border-radius: 5px;		
}

.act{
	width: 215px;
	height: 300px;
	top: -13px;
	left: 0px;
	box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
	border-radius: 5px;
}

.upload{
	width: 135px;
	height: 129px;
	top: 62px;
	left: 168px;
	box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
	border-radius: 5px;
}

.pricing__section .pricing{
	width: 100%;
	height: 570px;
	background-color: #F8FBFE;
	background-size: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -50px;
	text-align: center;
}
.pricing__instruction{
	margin-left: 426px;
	margin-right: 425px;
}

.pricing .pricing__title{
	display: flex;
	justify-content: center;
	width: 402px;
	font-weight: bold;
	font-size: 38px;
	line-height: 50px;
	text-align: center;
	letter-spacing: -0.3px;
	color: #000000;
	margin-bottom: 20px;
	padding-top: 120px;
}

.pricing .pricing__subtitle{
	width: 750px;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	color: #323232;
}

.plan__button{
	display: flex;
	justify-content: center;
	height: 46px;
	max-width: 250px;
	border: 1px solid #E8E8EA;
	box-sizing: border-box;
	border-radius: 23px;
	background: #F8FBFE;
	margin-top: 60px;
}

.plan__button-yearly{
	border: 1px solid #E8E8EA;
	background: #50E3C2;
	border-radius: 23px;
	padding: 6px 40px 4px 40px;
	margin: 4px 4px 4px;
	width: 126px;
}

.plan__button-monthly{
	border: 1px solid #F8FBFE;
	background: #F8FBFE;
	border-radius: 23px;
	width: 126px;
}

.plancard, .plancardPro{
	padding-top: 28px;
	padding-right: 77px;
	padding-bottom: 29px;
	padding-left: 44px;
}

.plancard{
	margin-right: 30px;
	margin-top: 52px;
}

.plancardPro{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 45px;
	border-top: 6px solid #50E3C2;
	border-radius: 6px;
}

.plancard .plancard__name{
	font-weight: bold;
	font-size: 13px;
	line-height: 32px;
	letter-spacing: 0.433333px;
	text-transform: uppercase;
	color: #878B90;
}

.plancard .plancard__price{
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #000000;
}

.plancard  .plancard__price .dollar{
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: -1.2px;
	color: #000000;
}

.plancard  .plancard__price .slash{
	font-weight: bold;
	font-size: 17px;
	line-height: 21px;
	letter-spacing: -0.3px;
	color: #000000;
}

.plancard  .plancard__price .number{
	font-weight: bold;
	font-size: 46px;
	line-height: 60px;
	letter-spacing: -0.3px;
	color: #000000;
}

.plancard  .plancard__text{
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: -0.4px;
	color: #323232;
	width: 229px;
}

.plancard__features-list .features-list__item{
	margin-left: -40px;
	padding: 0;
	list-style: none;
}

.plancard .plancard__features-list .features-list__item {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: -0.45px;
	color: #000000;
}

.plancard .plancard__features-list .features-list__item--stroked{
	color: #8E8E8E;
	text-decoration: line-through;
}
.plancard .plancard__features-list .features-list__item::before{
	content:"";
	display: block;
	width: 12px;
	height: 9px;
	margin-right: 10px;
	background-image: url("./images/path2.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.plancard .plancard__features-list .features-list__item--stroked::before{
	background-image: url("./images/path3.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.plancard .tooltip{
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: -0.4px;
	color: #666666;
}
 

.plancardPro .plancardPro__name{
	font-weight: bold;
	font-size: 13px;
	line-height: 32px;
	letter-spacing: 0.433333px;
	text-transform: uppercase;
	color: #878B90;
}

.plancardPro .plancardPro__price{
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #000000;
}

.plancardPro  .plancardPro__price .dollar{
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: -1.2px;
	color: #000000;
}

.plancardPro  .plancardPro__price .slash{
	font-weight: bold;
	font-size: 17px;
	line-height: 21px;
	letter-spacing: -0.3px;
	color: #000000;
}

.plancardPro  .plancardPro__price .number{
	font-weight: bold;
	font-size: 46px;
	line-height: 60px;
	letter-spacing: -0.3px;
	color: #000000;
}

.plancardPro  .plancardPro__text{
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: -0.4px;
	color: #323232;
	width: 229px;
}

.plancardPro__features-list .features-list__item{
	margin-left: -40px;
	padding: 0;
	list-style: none;
}

.plancardPro .plancardPro__features-list .features-list__item {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: -0.45px;
	color: #000000;
}

.plancardPro .plancardPro__features-list .features-list__item--stroked{
	color: #8E8E8E;
	text-decoration: line-through;
}
.plancardPro .plancardPro__features-list .features-list__item::before{
	content:"";
	display: block;
	width: 12px;
	height: 9px;
	margin-right: 10px;
	background-image: url("./images/path2.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.plancardPro .tooltip{
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: -0.4px;
	color: #666666;
}

.brands{
	display: flex;
	margin-top: 494px;
	margin-bottom: 120px;
	text-align: center;
	justify-content: center;
}

.brands .brands__title{
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: #878B90;
}

.brands-list{
	margin: 40px 0 0 0;
	padding: 0;
	list-style: none;
}

.brands-list .brands-list__item{
	margin-bottom: 30px;
}

.rewies__list{
	display: flex; 
	height: 357px;
	border: 1px solid #E8E8EA;
}

.rewies__list-cart{
	margin-left: 46px;
	margin-bottom: 48px;
	width: 378px;
}

.rewies__list-cart:last-child{
	margin-right: 44px;
}

.rewies__list-cart-quotas{
	width: 38px;
	height: 100px;
	padding-top: 30px;
}

.rewies__list-cart-text{
	margin-top: 0px;
	font-family: inter;
	font-style: regular;
	font-size: 18px;
	line-height: 32px;
	line-height: 147%;
	vertical-align: Top;
	letter-spacing: -0.1px;
	width: 274px;
	height: 160px;
}

.rewies__list-cart-user{
	display: flex;
}

.rewies__list-cart-user-avatar{
	background-image: url(./images/cameron.png);
	background-size: cover;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	margin-bottom: 53px;
	margin-right: 21px;
}

.rewies__list-cart-user-avatar-ellen{
	background-image: url(./images/ellen.png);
	background-size: cover;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	margin-bottom: 53px;
	margin-right: 21px;
}

.rewies__list-cart-user-avatar-cameron{
	background-image: url(./images/cameron2.png);
	background-size: cover;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	margin-bottom: 53px;
	margin-right: 21px;
}
 
.managering{
	display: flex;
	width: 707px;
	margin-top: 101px;
	margin-bottom: 240px;
	margin-left: 218px;
	text-align: center;
} 

.managering__text{
	margin-right: 61px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 50px;
	letter-spacing: -0.221053px;
	color: #000000;
}

.rewies__list-cart-user-data-name{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: -0.3px;
	color: #323232;
}
.rewies__list-cart-user-data-info{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: -0.3px;
	color: #323232;
	margin-bottom: 48px;
}

.rewies__list-cart-border-right{
	border: 1px solid #E8E8EA;
	margin-left: 55px;
}

.registration-background-color{
	background-color: #F8FBFE;
}

.registration{
	display: flex;
	max-width: 558px;
	height: 565px;
}
.registration-content{
	margin-top: -120px;
}

.registration-form{
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	border: 1px solid #E8E8EA;
	box-sizing: border-box;
	box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
	border-radius: 10px;
}

.registration-title{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 50px;
	text-align: center;
	letter-spacing: -0.3px;
	color: #000000;
	margin-bottom: 30px;
}

.registration-form-input{
	background: #FFFFFF;
	border: 1px solid #E8E8EA;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 15px 228px 14px 16px;
	margin-left: 51px;
	margin-right: 51px;
	margin-bottom: 20px;
}

.registration-form-input:first-child{
	margin-top: 50px;
}

.registration-form-attach{
	display: flex;
}

.registration-form-attach:last-child{
	flex-wrap: wrap;
}

.registration-form-attach-input{
	background: 80,227,194, 0.14;
	mix-blend-mode: normal;
	border: 1px solid #EFEFEFFF;
	border-radius: 3px;
	height: 50px;
	width: 458px;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #0F3D33;
}

.registration-form-attach-full{
	display: flex;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 50px;
	align-items: center;
	letter-spacing: -0.3px;
	color: #323232;
	margin-left: 50px;
	width: 459px;
	height: 35px;
	position: relative;
}

.registration-form-attach-text{
	width: 220px;
	height: 21px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 50px;
	display: flex;
	align-items: center;
	letter-spacing: -0.3px;
	color: #323232;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 20px;
	margin-bottom: 20px;
}



.registration-form-attach-block{
	display: flex;
	width: 129px;
	height: 35px;
	margin-left: 110px;
	margin-top: 20px; 
	margin-bottom: 20px;
	background-color: #F2F5F8;
	border-radius: 3px;
}

.registration-form-attach-block-text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 50px;
	display: flex;
	align-items: center;
	letter-spacing: -0.3px;
	color: #323232;
	margin-top: 9px;
	margin-bottom: 9px;
	padding-right: 0px;
	padding-left: 0px;
}

.registration-form-attach-block-image{
	width: 13px;
	height: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 10px 8px 10px 12px;
}

.registration-form-attach-button-input{
	position: absolute;
	width: 119px;
	height: 35px;
	left: 335px;
	top: 6px;
	opacity: 0;
}

.footer{
	margin-top: 0px;
	background-color: #202E4DFF;
	height: 448px;
}

.footer__content-group{
	display: flex;
	justify-content: space-between;
}

.footer__content-social{
	display: flex;
	justify-content: space-between;
	margin-top: 86px;
	margin-bottom: 41px;
}

.footer__content-group-store-store, .footer__content-group-about-about, .footer__content-group-policy-policy,
.footer__content-group-team-team, .footer__content-group-support-support{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 32px;
	color: #DBE4F1;
	mix-blend-mode: normal;
	opacity: 0.7;
	width: 165px;
	height: 32px;
	margin-top: 60px;
	margin-bottom: 23px;
}

.href{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 34px;
	color: #F8FBFE;
	margin-bottom: 12px;
	margin-right: 69px;  
	padding-right: 50px;
}

.footer__content-social-reserved, .footer__content-social-madness-privacy, .footer__content-social-madness-terms,
.footer__content-social-madness-sitemap{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #DBE4F1;
}

.href:link, .exile:link{
	color: #DBE4F1;
	text-decoration: none;
}

.href:visited, .exile:visited{
	color: #DBE4F1;
	text-decoration: none;
}

.href:hover, .exile:hover{
	color: #DBE4F1;
	text-decoration: none;
}

.footer__images{
	width: 16px;
	height: 16px;
	margin-right: 10px;
}



.footer__content-group-store, .footer__content-group-about, .footer__content-group-policy,
.footer__content-group-team, .footer__content-group-support{
	display: flex;
	flex-direction: column;
}

.footer__content-social-reserved{
	margin-right: 198px;
	margin-left: 0px;
	padding-right: 45px;
}

.footer__content-social-madness{
	margin-left: 0px;
	margin-right: 340px;
}

.footer__content-social-madness-privacy, .footer__content-social-madness-terms{
	padding-right: 18px;
}



@media screen and (min-width: 768px) {
	
	.banner .banner__content {
		max-width: 700px;		
	}

	.banner .banner__title {
		font-size: 46px;
		line-height: 68px;
	}
	.banner .banner__subtitle {
		margin-top: 5px;
		font-size: 20px;
		line-height: 34px;
	}
	.banner__button {
		margin-top: 27px;
	}
	.button{
		padding-top: 15px;
		padding-right: 28px;
		padding-bottom: 16px;
		padding-left: 28px;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
	}
	.features {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.feature-column {
		margin-top: 0;
	}
	.feature-column__point {
		width: 50px;
		height: 50px;
		margin-bottom: 32px;
	}
	.container{
		width: 570px;
	}
	.new{
		width: 100%;
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.price{
		width: 268.59px;
		height: 355.53px;
		top: 0px;
		left: 0px;
	}
	.stat{
		width: 336px;
		height: 354.78px;
		top: 110px;
		left: 150px;
	}
	.upload{
		width: 320px;
		height: 297px;
		top: 65px;
		left: 223px;
	}
	.act{
		width: 365px;
		height: 487px;
		top: 0px;
		left: 0px;
	}
	.new-content__images{
		width: 487px;
		height: 464px;
	}
	.new-content__text{
		margin-top: 12px;
	}
	.new-content{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.new-content__title{
		font-size: 38px;
	}
	.new-content__info{
		font-size: 18px;
		line-height: 32px;
	}
	.new--reverse .new-content{
		flex-direction: row-reverse;
	}
	
	.new--reverse .new-content__images {
		width:549px;
		height:409px
	}
	
	.pricing .plan {
		display: flex;
		justify-content: center;
	}

	.pricing .plan .plancard {
		margin-right: 30px;
		margin-bottom: 0;
	}
	
	.brands-list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.brands-list .brands-list__item {
		margin-right: 50px;
	}
	
	.pricing .plan {
		display: flex;
		justify-content: center;
	}
	
	.pricing .plan .plancard {
		margin-right: 30px;
		margin-bottom: 0;
	}
	.plan{
	display: flex;
	justify-content: center;
	
}

@media screen and (min-width: 1101px) {
	
	.container{
		width: 1000px;
	}
	.banner .banner__content {
		width: 600px;
	}

	.header .header__content {
		margin-right: auto;
		margin-left: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.features .features__content {
		display: flex;
		justify-content: space-between;
	}

	.features .feature-column {
		flex-basis: 33%;
		margin-top: 0;
		padding-right: 42px;
		padding-left: 42px;
		text-align: center;
		border-right: 1px solid #E8E8EA;
	}

	.features .feature-column:last-child {
		border-right: none;
	}
	.plan{
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 1201px) {
	.container{
		width: 1155px;
	}
}









